body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.header-nav-list {
  font-weight: 500;
  text-decoration: none;
  color: #2e2f42;
}

.header-nav-list:hover,
.header-nav-list:focus {
  color: #404bbf;
}

.address-header {
  font-style: normal;
  display: flex;
  box-sizing: border-box;
}

.address-header .address-list-item .adress-link {
  font-style: normal;
  font-weight: 400;
  color: #434455;
  text-decoration: none;
}

.address-header .address-list-item .adress-link:hover,
.address-header .address-list-item .adress-link:focus {
  color: #404bbf;
}

.logo-full {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.logo-full:hover,
.logo-full:focus {
  color: #ed0707;
}

.web-logo {
  color: #f4f4fd;
}

.web-logo-header {
  color: #2e2f42;
}

.web-logo:hover,
.web-logo:focus {
  color: #ed0707;
}

.main-header {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.main-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  text-align: center;
  cursor: pointer;
}

.main-button:hover {
  background-color: #404bbf;
}

.main-button:focus {
  background-color: #404bbf;
}

.studio-discr {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.studio-abzac {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.our-team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.low-section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our-team-abzac {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.footer-discr {
  font-weight: 400;
  color: #f4f4fd;
}

.header-our-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.portfolio-abzac {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
}
.footer-all {
  background-color: #2e2f42;
}

.section-main-title {
  background-color: #2e2f42;
}

.section-our-team {
  background-color: #f4f4fd;
}

.section-our-team ul .our-team-list {
  background-color: #ffffff;
}

.container {
  max-width: 1158px;
  margin-left: 156px;
  margin-right: 156px;
}

.section-our-team,
.section,
.section-main-title,
.section-our-team {
  padding-bottom: 120px;
  padding-top: 120px;
}

.footer-all {
  padding-top: 100px;
  padding-bottom: 100px;
}

header {
  border-bottom: 1px solid #2e2f42;
}

header .container {
  padding-top: 24px;
  padding-bottom: 24px;
  flex-basis: 1158px;
}

header .container,
header .logo-full,
.header-nav,
.head-nav,
.head-address {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo-full {
  margin-right: 76px;
}
.header-nav {
  gap: 40px;
}

.head-address {
  gap: 40px;
  justify-content: flex-end;
}

.section-main-title {
  padding: 0;
}

.main-header-container {
  margin-bottom: 48px;
  width: 496px;
  margin: auto;
}

.section-main-title .container {
  padding-top: 188px;
  padding-bottom: 188px;
}

.main-button {
  border: 0px solid #000;
  border-radius: 4px;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
}

.section .container .second-list-title {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-start;
  gap: 8px;
  width: calc((100% - 72px) / 4);
}

.section .container .second-list-title-div {
  display: flex;
}

.section .container {
}
